<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<form action="#" th:action="@{/travel/saveTravel}"
		th:object="${travelDto}" method="post">
		<fieldset>
			<table>
				<thead>
					<tr>
						<th>Travel Booking form</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span>User Id : </span><input type="text" th:field="*{userId}" /></td>
						<td><span>Source : </span><input type="text" th:field="*{source}" /></td>
						<td><span>Destination : </span><input type="text" th:field="*{destination}" /></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" id="submitButton" th:value="Save"> <input
				type="reset" id="resetButton" name="reset" th:value="Reset" />
		</fieldset>
	</form>

</body>
</html>